body {
  font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #317eac;
}

#logo {
	height: 90px;
	width: 90px;
	float: left;
}

#title{
	height:90px;
	vertical-align:center;
	color: #317eac;
	margin-left:120px;
	font-size: 4em;
	border: 1px solid #DDD;
}

p {
	font-size: 1.1em;
	line-height: 25px
}

div.commentaires {
	background-color: #f9f9f9;
	padding:20px;
}