h1,h2,h3,h4,h5,h6 {
	color: #317eac;
}

h1 {
	font-size: 2.5em;
	margin-top: 30px;
	margin-bottom: 35px;
}

p{
	font-size: 1.1em;
	line-height: 25px
}

div.commentaires{
	background-color: #f9f9f9;
	padding:20px;
}